@use "./variables.scss" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

h1,
h1,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100dvh;
  padding: vars.$spacing-400;
  overflow-y: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: vars.$spacing-400;
  max-width: 23.462rem;
  margin: 2rem 0;
}

.testimonial-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: vars.$spacing-400;
  gap: vars.$spacing-200;
  isolation: isolate;
  background: vars.$purple-500;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: vars.$spacing-100;
  color: vars.$white;
  /* Removed word-break property */

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: vars.$spacing-200;

    img {
      width: 2.154rem;
      height: 2.154rem;
      border-radius: 50%;
    }

    h3 {
      @include vars.text-preset-2;
      margin-bottom: vars.$spacing-50;
    }

    p {
      @include vars.text-preset-4;
    }
  }

  p {
    @include vars.text-preset-3;
  }

  h1 {
    @include vars.text-preset-1;
  }

  &:nth-child(1) {
    position: relative;
    background: vars.$purple-500;
    h1 {
      color: vars.$white;
    }
    p,
    h3 {
      color: vars.$purple-50;
    }
    @media (min-width: 768px) {
      &::before {
        content: "";
        position: absolute;
        width: 104px;
        height: 102px;
        right: 60px;
        top: 0px;
        background: url("/images/bg-pattern-quotation.svg") no-repeat center
          center;
        background-size: contain;
        z-index: -1;
      }
    }
  }
  &:nth-child(2) {
    background: vars.$grey-500;
    h1 {
      color: vars.$white;
    }
    p,
    h3 {
      color: vars.$grey-100;
    }
  }

  &:nth-child(3),
  &:nth-child(5) {
    background: vars.$white;
    h1 {
      color: vars.$grey-500;
    }
    p,
    h3 {
      color: vars.$grey-400;
    }
  }

  &:nth-child(4) {
    background: vars.$dark-blue;
    h1 {
      color: vars.$grey-200;
    }
    p,
    h3 {
      color: vars.$grey-100;
    }
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: vars.$spacing-400;
    max-width: 646px;
    margin: 6rem;

    & > :nth-child(1) {
      grid-column: 1 / -1;
    }

    & > :nth-child(2),
    & > :nth-child(3) {
      grid-column: span 1;
    }

    & > :nth-child(4) {
      grid-column: 1 / -1;
    }

    & > :nth-child(5) {
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 85.692rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: vars.$spacing-400;
    margin: 10rem;

    & > :nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    & > :nth-child(2) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    & > :nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    & > :nth-child(4) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    & > :nth-child(5) {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
    }
  }
}
